@using MusicShare.Models

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var post in (IEnumerable<Post>)@ViewData["Posts"])
{
    <div class="ms-post">
        <div class="ms-post-img"></div>
        <div class="ms-post-song">@post.Song.Name</div>
        <div class="ms-post-artist">@post.Artist.Name</div>
        <div class="ms-post-view-count">@post.ViewCount</div>
    </div>
}