/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#home {
    display: grid;
    grid-template-columns: repeat(5, 0.20fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

#main {
    margin: 16px;
    margin-bottom: 0px;
}

#navigation {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "left middle right";
    grid-template-columns: max-content auto max-content;

    height: 80px;
    box-shadow: 1px 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.ms-nav-left {
    grid-area: left;
    display: grid;
    grid-auto-flow: column;
}

.ms-nav-middle {
    grid-area: middle;
    display: grid;
    justify-items: center;
    align-items: center;
}

.ms-nav-search {
    width: 100%;
    min-width: max-content;
    max-width: 512px;
    height: calc(80px - 2 * 8px);
    padding: 16px;

    border: 0;
    background-color: #efefef;
}

.ms-nav-right {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    grid-area: right;
}

.ms-nav-logout {
    display: grid;
}

.ms-nav-button, .ms-nav-logo {
    border: 0;
    background: transparent;
}

.ms-post {
    display: grid;
    grid-template-areas: "image" "song" "artist" "view_count";
    grid-template-columns: 100%;

    box-shadow: 1px 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    height: 20vw;
    border: 0;
}

.ms-post-img {
    grid-area: image;
}

.ms-post-song {
    grid-area: song;
}

.ms-post-artist {
    grid-area: artist;
}

.ms-post-view-count {
    grid-area: view_count;
}
